@using JatanWebApp.SignalR
@model GameLobby
<tr class="game-lobby-item">
    @if (Model.InProgress)
    {
        <td class="vert-align"><a href="#" class="btn btn-block btn-danger disabled"><span class="glyphicon glyphicon-hourglass"></span> In Progress</a></td>
    }
    else if (Model.RequiresPassword)
    {
        <td class="vert-align">
            <input type="hidden" class="join-href" value="@Url.Action("Join", new { gameId = Model.Uid, password = "PASSWORD" })" />
            <a href="#" class="enter-password-button btn btn-block btn-success"><span class="glyphicon glyphicon-play-circle"></span> Join</a>
        </td>
    }
    else
    {
        <td class="vert-align"><a href="@Url.Action("Join", new { gameId = Model.Uid })" class="btn btn-block btn-success"><span class="glyphicon glyphicon-play-circle"></span> Join</a></td>
    }
    <td class="vert-align">@Model.Name</td>
    <td class="vert-align">@Model.Owner</td>
    <td class="vert-align">@Model.Players.Count.ToString() / @Model.MaxNumberOfPlayers</td>
    <td>
        @Html.Partial("_RulesList", Model)
    </td>
</tr>
