@using JatanWebApp.Helpers
@using JatanWebApp.SignalR
@model GameLobby
@{
    ViewBag.Title = "";
    ViewBag.ShowNavbar = false;

    string defaultAvatar = @"/Content/Images/avatars/default.jpg";
    string[] avatars = {defaultAvatar, defaultAvatar, defaultAvatar, defaultAvatar};
    string[] names = {"", "", "", ""};
    string[] colors = { "", "", "", "" };
    for (int i = 0; i < Model.Players.Count; i++)
    {
        string name = Model.Players[i];
        names[i] = name;
        if (Model.AvatarPaths.ContainsKey(name))
        {
            var avatarPath = Model.AvatarPaths[name];
            if (!string.IsNullOrEmpty(avatarPath))
            {
                avatars[i] = avatarPath;
            }
        }
        var player = Model.GameManager.GetPlayerFromName(name);
        if (player != null)
        {
            colors[i] = "player-color-" + player.Color.ToString().ToLower();
        }
    }
}

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/createjs-2015.11.26.min.js"></script>
    <script src="~/Scripts/Game/math.js"></script>
    <script src="~/Scripts/Game/game_constants.js"></script>
    <script src="~/Scripts/Game/game.js"></script>
}

@section css
{
    <link href="~/Content/game-styles.css" rel="stylesheet" type="text/css" />
}

<div id="loadingResourcesDiv">
    <div>Loading resources... <span id="percentLoadedText">0%</span></div>
    <div class="progress">
        <div id="resourceProgressBar" class="progress-bar progress-bar-jatan"
             role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 1%">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<!-- Test panel -->
<div id="testPanel" class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav navbar-nav">
        <li><a id="btnUpdateGameManager" href="#">Update Manager</a></li>
        <li><a id="btnStartGame" href="#">Start Game</a></li>
        <li><a id="btnRollDice" href="#">Roll Dice</a></li>
        <li class="dropup">
            <a id="btnBuy" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="False">Buy <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a id="btnBuyRoad" href="#">Road</a></li>
                <li><a id="btnBuySettlement" href="#">Settlement</a></li>
                <li><a id="btnBuyCity" href="#">City</a></li>
                <li><a id="btnBuyDevelopmentCard" href="#">Development Card</a></li>
            </ul>
        </li>
        <li><a id="btnTrade" href="#">Trade</a></li>
        <li><a id="btnEndTurn" href="#">End Turn</a></li>
        <li><a id="btnLeaveGame" href="@Url.Action("Index", "Home")" class="text-danger">Leave Game</a></li>
    </ul>
    @*<ul class="nav navbar-nav navbar-right">
        <li>
            <p class="navbar-text">GameState: <span id="gameState">@Model.GameManager.GameState</span></p>
            <p class="navbar-text">TurnState: <span id="turnState">@Model.GameManager.PlayerTurnState</span></p>
        </li>
    </ul>*@
</div>

<div id="chatBox">
    <ul id="chatBoxList" oncontextmenu="return false;">
        <li class="chat-text-info">Welcome to @Model.Name!</li>
        <li class="chat-text-info">*************</li>
    </ul>
    <div>
        <input id="chatBoxInputText" type="text" placeholder=" Send message" />
    </div>
</div>

@for (int i = 0; i < 4; i++)
{
    {
        string boxId = "playerBox" + (i + 1).ToString();
        string visibility = (names[i] == "") ? "hidden" : "";
        <div id="@boxId" class="player-float-box box-shadow @visibility @colors[i]">
            <img class="player-avatar box-shadow" src="@avatars[i]" />
            <div class="player-name">@names[i]</div>
        </div>
    }
}

<canvas id="gameCanvas"></canvas>
